* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1000px;
    margin:20px auto;
    border: 1px solid black;
}


/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* NAV */
.menu {
    height: 100px;
    width: 100%;
    background-color: magenta;
    float: left;
    margin-bottom: 15px
}
/* FINE NAV */

/* MAIN */
.contenuto1 {
    width: 100%;
    height: 500px;
    background-color:darkkhaki;
    float: left;
}

/* CONTENUTO2 */
.contenuto2 {
    width: 100%;
    height: 500px;
    background-color: lightblue;
    float: left;
    margin: 15px 0;
    border-bottom: 10px solid rgb(0, 138, 252);
}

.nav_contenuto1 {
    height: 90px;
    border-bottom: 10px solid rgb(0, 138, 252);
}

.colonna1 {
    width:30%;
    height: 410px;
    border-right: 10px solid rgb(0, 138, 252);
    float: left;
}

.colonna2 {
    width: 40%;
    height: 410px;
    float: left;
}

.colonna3 {
    width:30%;
    height: 410px;
    border-left: 10px solid rgb(0, 138, 252);
    float: left;
}
/* FINE CONTENUTO2 */

/* FOOTER */
.footer {
    height: 50px;
    width: 100%;
    background-color: rgb(162, 15, 199);
    float: left;
    margin-top;: 15px
}